<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jo.dy.ot.dao.LeaveBillMapper">
  <resultMap id="BaseResultMap" type="com.jo.dy.ot.entity.LeaveBill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="day_time" jdbcType="INTEGER" property="dayTime" />
    <result column="pro_def_id" jdbcType="VARCHAR" property="proDefId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.jo.dy.ot.entity.LeaveBill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="day_time" jdbcType="INTEGER" property="dayTime" />
    <result column="pro_def_id" jdbcType="VARCHAR" property="proDefId" />
  </resultMap>
</mapper>